In [11]:
import pandas as pd

In [12]:
df = pd.read_stata('data/Main dataset.dta')
df.dtypes

C:\Users\Alberto\.conda\envs\PhD\lib\site-packages\pandas\io\stata.py:1409: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)

HHID              float64
Cluster             int16
strata              int16
Province           object
District           object
                   ...
DATE_END           object
TIME_END           object
cluster             int16
sample_weight     float32
Locality         category
Length: 730, dtype: object

In [13]:
df.info

<bound method DataFrame.info of               HHID  Cluster  strata        Province    District    Sector  \
0     1.102021e+12        1      11  City of Kigali  Nyarugenge  Kanyinya
1     1.102021e+12        1      12  City of Kigali  Nyarugenge  Kanyinya
2     1.102021e+12        1      12  City of Kigali  Nyarugenge  Kanyinya
3     1.102021e+12        1      12  City of Kigali  Nyarugenge  Kanyinya
4     1.102021e+12        1      12  City of Kigali  Nyarugenge  Kanyinya
...            ...      ...     ...             ...         ...       ...
3290  5.714040e+12      275    2752         Eastern    Bugesera     Rweru
3291  5.714040e+12      275    2751         Eastern    Bugesera     Rweru
3292  5.714040e+12      275    2751         Eastern    Bugesera     Rweru
3293  5.714040e+12      275    2751         Eastern    Bugesera     Rweru
3294  5.714040e+12      275    2752         Eastern    Bugesera     Rweru

     Cellule  Village   B1   B2  ...  T28  T28B T28C  DATE_START TIME_START  \
0      Nzove  Ruyenzi  2.0  Yes  ...  NaN   NaN  NaN  18/11/2016      12:05
1      Nzove  Ruyenzi  1.0  Yes  ...  NaN   NaN  NaN  18/11/2016      10:23
2      Nzove  Ruyenzi  1.0  Yes  ...  NaN   NaN  NaN  18/11/2016      11:32
3      Nzove  Ruyenzi  1.0  Yes  ...  NaN   NaN  NaN  18/11/2016      10:30
4      Nzove  Ruyenzi  1.0  Yes  ...   No   NaN  NaN  18/11/2016      10:14
...      ...      ...  ...  ...  ...  ...   ...  ...         ...        ...
3290   Nemba   Kigina  1.0   No  ...  NaN   NaN  NaN  14/11/2016      16:49
3291   Nemba   Kigina  1.0  Yes  ...  NaN   NaN  NaN  14/11/2016      13:59
3292   Nemba   Kigina  1.0  Yes  ...  NaN   NaN  NaN  14/11/2016      16:10
3293   Nemba   Kigina  1.0  Yes  ...  NaN   NaN  NaN  14/11/2016      13:26
3294   Nemba   Kigina  2.0  Yes  ...  NaN   NaN  NaN  14/11/2016      16:31

        DATE_END TIME_END  cluster  sample_weight  Locality
0     18/11/2016    12:49       11     476.617645     Rural
1     18/11/2016    11:26       12     370.042023     Rural
2     18/11/2016    12:24       12     370.042023     Rural
3     18/11/2016    11:17       12     370.042023     Rural
4     18/11/2016    11:28       12     370.042023     Rural
...          ...      ...      ...            ...       ...
3290  14/11/2016    13:13     2752    9788.472656     Rural
3291  14/11/2016    15:50     2751     729.744080     Rural
3292  14/11/2016    17:44     2751     729.744080     Rural
3293  14/11/2016    15:39     2751     729.744080     Rural
3294  14/11/2016    17:34     2752    9788.472656     Rural

[3295 rows x 730 columns]>

In [19]:
df['C22'][0:10]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6     9.30
7      NaN
8    37.21
9      NaN
Name: C22, dtype: float64

In [23]:
dfA = pd.read_stata('data/Section A.dta')
df.dtypes

HHID     float64
A1       float64
A3      category
A4      category
A5       float64
A6      category
A7      category
A8      category
A9      category
A10     category
A11     category
A12     category
A13     category
A14     category
A15     category
A16     category
A17     category
A18     category
A19      float64
A20     category
A21     category
A22     category
dtype: object

In [24]:
dfA.info

<bound method DataFrame.info of                HHID   A1      A3                   A4    A5   A6   A7   A8  \
0      1.102021e+12  2.0  Female          Wife/Spouse  45.0  Yes  Yes   No
1      1.102021e+12  1.0    Male                 Head  54.0  Yes   No  NaN
2      1.102021e+12  3.0  Female  Child/adopted child  22.0  Yes  Yes   No
3      1.102021e+12  4.0    Male  Child/adopted child  14.0  Yes  Yes  Yes
4      1.102021e+12  2.0  Female  Child/adopted child  15.0  Yes  Yes  Yes
...             ...  ...     ...                  ...   ...  ...  ...  ...
15186  5.714040e+12  6.0  Female  Child/adopted child   0.0   No  NaN  NaN
15187  5.714040e+12  4.0  Female  Child/adopted child   6.0  Yes   No  NaN
15188  5.714040e+12  3.0  Female  Child/adopted child   9.0  Yes  Yes  Yes
15189  5.714040e+12  5.0  Female  Child/adopted child   3.0   No  NaN  NaN
15190  5.714040e+12  1.0    Male                 Head  33.0  Yes  Yes   No

            A9  A10  ...  A13  A14         A15  \
0      Primary  Yes  ...  Yes   No           1
1          NaN  Yes  ...  NaN  NaN         NaN
2      Primary  Yes  ...  NaN  NaN         NaN
3      Primary  Yes  ...  NaN  NaN         NaN
4      Primary  Yes  ...  NaN  NaN         NaN
...        ...  ...  ...  ...  ...         ...
15186      NaN  NaN  ...  NaN  NaN         NaN
15187      NaN   No  ...  NaN  NaN         NaN
15188  Primary   No  ...  NaN  NaN         NaN
15189      NaN  NaN  ...  NaN  NaN         NaN
15190  Primary  Yes  ...   No  Yes  Don't know

                                     A16                        A17  A18  A19  \
0      Agriculture, forestry and fishing      Farm Land (Household)   10  5.0
1                                    NaN                        NaN  NaN  NaN
2                                    NaN                        NaN  NaN  NaN
3                                    NaN                        NaN  NaN  NaN
4                                    NaN                        NaN  NaN  NaN
...                                  ...                        ...  ...  ...
15186                                NaN                        NaN  NaN  NaN
15187                                NaN                        NaN  NaN  NaN
15188                                NaN                        NaN  NaN  NaN
15189                                NaN                        NaN  NaN  NaN
15190  Agriculture, forestry and fishing  Farm Land (Not Household)   12  7.0

         A20  A21                    A22
0      15000   12               Everyday
1        NaN  NaN                  Never
2        NaN  NaN  A few times in a week
3        NaN  NaN                  Never
4        NaN  NaN  A few times in a week
...      ...  ...                    ...
15186    NaN  NaN                    NaN
15187    NaN  NaN                    NaN
15188    NaN  NaN                    NaN
15189    NaN  NaN                    NaN
15190  15000   12                  Never

[15191 rows x 22 columns]>

In [25]:
dfA['A12'][0:10]

0        Wage Employee, Farm
1                   Disabled
2                 Unemployed
3                   Student?
4                   Student?
5                   Student?
6                        NaN
7    Wage Employee, Non-Farm
8                        NaN
9                        NaN
Name: A12, dtype: category
Categories (16, object): [Wage Employee, Non-Farm < Wage Employee, Farm < Self-Employed Non-Farm-Business enterprise < Self-Employed Non-Farm-Independent contractor,... ... Disabled < Job Seeker < Unemployed < Other (specify)]